In [7]:
import pandas as pd
weather_data = {
    'data':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature' : [32,35,28,24,32,31],
    'windspeed' :[6,7,2,7,4,2],
    'event' : ['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df
import pandas as pd
stock_data = {
    'tickers':['GOOGL','WMT','MSFT','RIL','TATA'],
    'eps' : [27.82,4.61,-1,'not available',5.6],
    'revenue' :[87,484,85,50,-1],
    'price' : [845,65,64,1023,'n.a.'],
    'people':['larry page','n.a.','bill gates','mukesh ambani','ratan tata']
}
df = pd.DataFrame(stock_data)
df

       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
df.shape

(6, 4)

In [ ]:
rows, columns = df.shape

In [15]:
df[2:5]

       data  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [16]:
df.columns

Index(['data', 'temperature', 'windspeed', 'event'], dtype='object')

In [18]:
df.data

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: data, dtype: object

In [19]:
df['event'] #df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [20]:
type(df['event'])

pandas.core.series.Series

In [22]:
df[['event','data']]

   event      data
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [23]:
df['temperature'].max()

35

In [24]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [27]:
df[df.temperature==df['temperature'].max()]

       data  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [28]:
df[['data','temperature']][df.temperature==df['temperature'].max()]

       data  temperature
1  1/2/2017           35

In [35]:
df.set_index('event',inplace=True)
df

           data  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2