In [7]:
import pandas as pd
import numpy as np
df = pd.read_excel('weather_data3.csv')
df

         day  temperature  windspeed     event
0 2017-01-01           32          6      Rain
1 2017-01-02       -99999          7     Sunny
2 2017-01-03           28     -99999      Snow
3 2017-01-04       -99999          7  No Event
4 2017-01-05           32     -88888      Rain
5 2017-01-06           31          2     Sunny
6 2017-01-07           34          5  No Event

In [9]:
new_df = df.replace([-99999, -88888],np.NaN)
new_df

         day  temperature  windspeed     event
0 2017-01-01         32.0        6.0      Rain
1 2017-01-02          NaN        7.0     Sunny
2 2017-01-03         28.0        NaN      Snow
3 2017-01-04          NaN        7.0  No Event
4 2017-01-05         32.0        NaN      Rain
5 2017-01-06         31.0        2.0     Sunny
6 2017-01-07         34.0        5.0  No Event