In [29]:
import pandas as pd
df = pd.read_excel("weather_data2.csv", na_values=[" "])
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-02          NaN        7.0   Sunny
2 2017-01-03         28.0        2.0    Snow
3 2017-01-04          NaN        7.0     NaN
4 2017-01-05         32.0        NaN    Rain
5 2017-01-06          NaN        NaN   Sunny
6 2017-01-07          NaN        NaN     NaN
7 2017-01-08         34.0        8.0  Cloudy
8 2017-01-09         40.0       12.0   Sunny

In [31]:
df = pd.read_excel("weather_data2.csv", parse_dates=["day"])
df.set_index('day', inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-02          NaN        7.0   Sunny
2017-01-03         28.0        2.0    Snow
2017-01-04          NaN        7.0     NaN
2017-01-05         32.0        NaN    Rain
2017-01-06          NaN        NaN   Sunny
2017-01-07          NaN        NaN     NaN
2017-01-08         34.0        8.0  Cloudy
2017-01-09         40.0       12.0   Sunny

In [32]:
new_df= df.fillna(0)
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-02          0.0        7.0   Sunny
2017-01-03         28.0        2.0    Snow
2017-01-04          0.0        7.0       0
2017-01-05         32.0        0.0    Rain
2017-01-06          0.0        0.0   Sunny
2017-01-07          0.0        0.0       0
2017-01-08         34.0        8.0  Cloudy
2017-01-09         40.0       12.0   Sunny

In [33]:
new_df = df.fillna({
    'temperature' : 0,
    'windspeed' : 0,
    'event' : 'no event'
})
new_df

            temperature  windspeed     event
day
2017-01-01         32.0        6.0      Rain
2017-01-02          0.0        7.0     Sunny
2017-01-03         28.0        2.0      Snow
2017-01-04          0.0        7.0  no event
2017-01-05         32.0        0.0      Rain
2017-01-06          0.0        0.0     Sunny
2017-01-07          0.0        0.0  no event
2017-01-08         34.0        8.0    Cloudy
2017-01-09         40.0       12.0     Sunny

In [38]:
new_df = df.fillna(method = "bfill", axis="columns")
new_df

           temperature windspeed   event
day
2017-01-01        32.0       6.0    Rain
2017-01-02         7.0       7.0   Sunny
2017-01-03        28.0       2.0    Snow
2017-01-04         7.0       7.0     NaN
2017-01-05        32.0      Rain    Rain
2017-01-06       Sunny     Sunny   Sunny
2017-01-07         NaN       NaN     NaN
2017-01-08        34.0       8.0  Cloudy
2017-01-09        40.0      12.0   Sunny

In [41]:
new_df = df.fillna(method = "ffill", limit=2)
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-02         32.0        7.0   Sunny
2017-01-03         28.0        2.0    Snow
2017-01-04         28.0        7.0    Snow
2017-01-05         32.0        7.0    Rain
2017-01-06         32.0        7.0   Sunny
2017-01-07         32.0        NaN   Sunny
2017-01-08         34.0        8.0  Cloudy
2017-01-09         40.0       12.0   Sunny

In [43]:
new_df = df.interpolate(method="time")
new_df

            temperature  windspeed   event
day
2017-01-01    32.000000       6.00    Rain
2017-01-02    30.000000       7.00   Sunny
2017-01-03    28.000000       2.00    Snow
2017-01-04    30.000000       7.00     NaN
2017-01-05    32.000000       7.25    Rain
2017-01-06    32.666667       7.50   Sunny
2017-01-07    33.333333       7.75     NaN
2017-01-08    34.000000       8.00  Cloudy
2017-01-09    40.000000      12.00   Sunny

In [45]:
new_df = df.dropna(how="all")
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-02          NaN        7.0   Sunny
2017-01-03         28.0        2.0    Snow
2017-01-04          NaN        7.0     NaN
2017-01-05         32.0        NaN    Rain
2017-01-06          NaN        NaN   Sunny
2017-01-08         34.0        8.0  Cloudy
2017-01-09         40.0       12.0   Sunny

In [46]:
new_df = df.dropna(thresh=2)
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-02          NaN        7.0   Sunny
2017-01-03         28.0        2.0    Snow
2017-01-05         32.0        NaN    Rain
2017-01-08         34.0        8.0  Cloudy
2017-01-09         40.0       12.0   Sunny

In [51]:
dt = pd.date_range("2017-01-01","2017-01-09")
idx = pd.DatetimeIndex(dt)
df.reindex(idx)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-02          NaN        7.0   Sunny
2017-01-03         28.0        2.0    Snow
2017-01-04          NaN        7.0     NaN
2017-01-05         32.0        NaN    Rain
2017-01-06          NaN        NaN   Sunny
2017-01-07          NaN        NaN     NaN
2017-01-08         34.0        8.0  Cloudy
2017-01-09         40.0       12.0   Sunny